/* app */
.app-container {
  margin: 20px 20px 0px;
  padding-left: 20px;
  min-height: 580px;
}
/*
.app-header {

}
*/

/* menu */
.menu-container {
  display:flex;
  justify-content: space-between;
}
.menu-logo {
  /* background-color: gray; */
  position: relative;
  max-width: 200px;
  min-width: 100px;
  left: 50px;
  
}
.menu-list-container {
  position:relative;
  display: flex;
  align-items: center;
  height:80px;
  border-radius: 10px;
  width: 500px;
  justify-content: right;
}
.menu-list {
  display: flex; 
}
.menu-list li {
  list-style: none;
  position: relative;
  width: 100px;
  height: 50px;
}
.menu-list a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu-icon {
  position: relative;
  /* display: block; */
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
}
.menu-list li :hover .menu-icon{
  font-size:40px;
  font-weight: border;
}
.menu-list li :hover .menu-text{
  font-size:20px;
  font-weight: border;
}

.menu-icon {
  color: black;
}
.menu-text {
  position: absolute;
  transition: 0.5s;
  transform: translateY(30px);/* 50px로 바꾸면 글씨 안보임*/
  color: black;
  z-index: 1;
}
.menu-list .active a .menu-text {
  opacity: 1;
  transform: translateY(10px);
}
.menu-list > div {
  position: absolute;
  align-items: center;
  text-align: center;
  top: -10px;
}
.menu-myinfo {
  top:13px;
  align-items: center;
  text-align: left;
}
.menu-myinfo :hover {
cursor: pointer;
}

/* .indicator {
  position:absolute;
  width: 60px;
  height: 60px;
  background-color: darkcyan;
  border-radius: 50%;
  border: 3px solid white;
  transition: 0.5s;
  top: -45px;
}
.indicator::before {
  content: '';
  position: absolute;
  top: 44%;
  left: -20px;
  width: 20px;
  height: 23px;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 white;
}
.indicator::after {
  content: '';
  position: absolute;
  top: 44%;
  right: -20px;
  width: 20px;
  height: 23px;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 white;
} */

/* user sidebar*/
.side-container {
  background-color: gray;
  color: white;
  opacity: 0.9;
  width: 30vw;
  height:100vh;
  display: flex;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  animation: sidebar 0.5s;
}
@keyframes sidebar {
  from {  transform: translateX(30vw);}
  to { transform: translateX(0);}
}

/* footer */
.app-footer {
  height: 50px;
  bottom: 0px;
  margin-top: 100px;
}

/* home */
.home-first-container {
  display:flex;
  
}

.home-weather-column {
  text-align: center;
  margin: 30px;
  /* border-radius: 5px;
  border: 1px solid; */
  
  
}
.home-weather-text {
  margin:5px;
  font-size: 20px;
  font-weight: bold;
}
.home-weather-location {
  font-size: 20px;
  margin-top: 10px;
  width: 130px;
  padding: .5em;
  border: 1px solid #999;

}

.home-best-column{
  justify-content: space-between;  
  border-radius: 10px;
  overflow: auto; 
}
.home-recommand-images {
  max-height: 400px;
  min-height: 300px;
  width: 350px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px silver;
  
}
.home-ul:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.home-ul {
  display: flex;
  list-style: none;
  animation: slide 10s infinite alternate;
  animation-timing-function: linear;
  max-width: 70vw;
  min-width: 200px;
  
}
.home-ul li {
  margin-right: 15px;
}
@keyframes slide {
  from {  transform: translateX(0);}
  to { transform: translateX(-1100px);}
}

.home-second-container {
  display:flex;
  padding-left: 20px;
}
.home-second-container > div {
  width: 40vw;
}
.home-board-column {
  border: 0.5px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  box-shadow: 3px 3px 3px silver;
}
.home-board-column > div {
  font-weight: bold;
  font-size: 20px;
}
.home-board-column > ul{
  list-style: none;
}
.home-board-column > ul >li {
  margin-top: 2px;
  
}

/*board*/
.board-img {
  min-width: 300px;
  min-height: 400px;
  max-width: 300px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.board-write-btn {
  border: 1px solid #d2d2d2;
  width: 100px;
  background-color: black;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}

/*rboard-post*/
.rboard-post-container {
  display: flex;
  width: 11vw;
  height: 18vh;
  margin: 2vh 1vw;
  flex-direction: column;
}

.rboard-post-img-box {
  overflow: hidden;
  width: 100%;
  height: 90%;
  text-align: center;
}

.rboard-post-info {
  width: 100%;
  height: 10%;
}

.rboard-post-img-box img {
  max-height: 100%;
  width: auto
}

.rboard-post-info {
  display: flex;
  justify-content: space-evenly;
}

/*rboard*/
.rboard-header {
  display: flex;
}
.rboard-container {
  display: flex;
  flex-wrap: wrap;
}

.board-write-btn {
  border: 1px solid #d2d2d2;
  width: 100px;
  background-color: black;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}

.rboard-postview-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  margin: 0px;
  z-index: 2;
}

.rboard-postview-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 2;
  overflow: auto;
}

/*qboard*/

.qboard-container table {
  margin: 2vh 0 2vh 0;
  text-align: center;
}

.qboard-container table tr :nth-child(1) {
  width: 7vh;
  padding: 10px;
}

.qboard-container table tr :nth-child(2) {
  width: 43vh;
  padding: 10px;
  
}



/*page number*/
.page-number-container {
  display: flex;
  justify-content: center;
}

.page-number-container div {
  padding: 20px;
}

/*post editor*/
.post-editor-container {
  display: flex;
  width: 40vw;
  height: 70vh;
  margin: 2vh 0;
}

.post-editor-img-form {
  height: 100%;
  width: 47%;
  margin-right: 6%;
}

.post-editor-text-form-container {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.post-editor-title-container {
  display: flex;
  align-items: baseline;
  margin: 2em 0 2em 0;
  border-bottom: 1px solid black;
}

.post-editor-title-container div {
  width: 20%;
  font-size: 2em;
}

.post-editor-title-container input {
  width: 80%;
  border: none;
  margin-left: 1em;
  font-size: 2em;
}

.post-editor-title-container input:focus {
  outline: none;
}

.post-editor-quill {
  height: 70%;
  margin: 1em 0 1em 0;
}

.post-editor-submit-container {
  display: flex;
  float: right;
  margin: 5em 0;
  align-items: baseline;
}

.post-editor-submit-container p {
  color: #f88787;
}

.post-editor-submit-btn {
  padding: 0.5em;
  font-size: 30px;
  border-radius: 5px;
  float: right;
  color: white;
  background-color: black;
  margin-left: 1em;
}

/*q post editor*/
.q-post-editor-container {
  display: flex;
  margin: 2em 0 2em 0; 
  flex-direction: column;
}

/*img view*/
.img-view-container {
  width: 100%;
  height: 70%;
}

.img-view-main-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  align-items: center;
  margin-top: 20%;
}

.img-view-main-arrow:hover {
  background: #efebff;
}

.img-view-main-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-view-main-img-box > img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.img-view-preview-container {
  display: flex;
  align-items: center;
  margin-top: 5em;
  width: 100%;
  height: 30%;
}

.img-view-preview-img-box {
  width: 18%;
  margin: 0 2%;
}

.img-view-preview-img-box > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/*post view*/
.postview-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.postview-container button {
  margin-right: 1em;
  border-radius: 10px;
  border: none;
}

.postview-container button:hover {
  box-shadow: 3px 3px #646464;
}

.postview-container > div {
  width: 47%;
  height: 100%;
}

.postview-content-container {
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
}

.postview-content-title {
  margin-top: 1em;
  font-size: xx-large;
  height: 2em;
  overflow: auto;
}

.postview-content-body {
  height: 50%;
  margin-top: 1em;
  overflow: auto;
  border-top: 2px solid black;
}

.postview-content-like-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0 10px 0;
}

.postview-content-commentes {
  overflow: auto;
  height: 20%;
}

.postview-content-commentes > div {
  margin-bottom: 1em;
}

.postview-content-comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.postview-content-comment-form textarea {
  height: 100%;
  resize: none;
  margin-bottom: 10px;
}

.postview-content-comment-form button {
  width: 100%;
  height: 3em;
  float: right;
}

/*img-form*/
.img-form-container {
  position: relative;
  height: 10%;
}

.img-form-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2em;
  z-index: 2;
  background-color: rgb(209, 209, 209);
  opacity: 0.8;
}

.img-form-upload-form {
  display: flex;
  align-items: center;
  height: 2em;
}

.img-form-upload-form > div {
  margin-right: 10px;
}

.img-form-img-limit-alert {
  color: red;
  opacity: 0.7;
}

/* weather */
.weather-icon {
  font-size: 200px;
  font-weight: border;
}
.weather-text {
  margin-top:-40px;
  font-size: 50px;
  text-align: center;
}
.sunny {
  padding: 5px 0px;
  color:#ff0000;
  /* background-color: #b8dff8; */
  border-radius: 30%;
}
.cloud {
  padding-top:15px;
  padding-bottom:-5px;
  color:black;
  /* background-color: darkgray; */
  border-radius: 30%;
}
.rain {
  padding-bottom:10px;
  color:#b8dff8;
  /* background-color: gray; */
  border-radius: 30%;
}
.snow {
  padding-bottom:10px;
  color:darkgray;
  /* background-color: black; */
  border-radius: 30%;
}
/*searchbar*/
.searchbar-container {
  width: 600px;
  font-size:20px;
  display: flex;
  justify-content: baseline;
}

.searchbar-container > select {
  height: 100%;
  width: 12%;
}

.searchbar-container > input {
  height: 82%;
  width: 30%;
}

.searchbar-container > button {
  width: 10%;
  height: 100%;
}

/* myInfo */
.myinfo-container{
  align-items: center;
}
.myinfo-first-box {
  list-style: none;
  font-size: 30px;
}
.myinfo-first-box > li {
  margin: 15px;
  display: flex;
}
.myinfo-modify-input{
  width: 300px;
  font-size:20px;
}
.myinfo-modify-select{
  width: 300px;
  font-size:20px;
}
.myinfo-btn {
  border: 1px solid #d2d2d2;
  width: 100px;
  background-color: black;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  
}
