/* app */
.app-container {
  margin-inline: 3vw;
  
}
.app-header {
}

/* menu */
.menu-container {
  display:flex;
  margin-top: 40px;
}
/* .menu-home {
  position: relative;
  
  font-size: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
} */
.menu-list-container {
  position: relative;
  display: flex;
  background-color: skyblue;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  width: 94vw;
  justify-content: center;
}
.menu-list {
  display: flex; 
}
.menu-list li {
  list-style: none;
  position: relative;
  width: 20vw;
  height: 50px;
  
}
.menu-list a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu-icon {
  position: relative;
  display: block;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
}

.menu-list .active a .menu-icon {
  transform: translateY(-35px);
}
.menu-icon {
  color: white;
}
.menu-text {
  position: absolute;
  transition: 0.5s;
  transform: translateY(30px);/* 50px로 바꾸면 글씨 안보임*/
  color: white;
  z-index: 1;
}
.menu-list .active a .menu-text {
  opacity: 1;
  transform: translateY(10px);
}
.menu-list > div {
  position: absolute;
  align-items: center;
  text-align: center;
  top: -10px;
}
.indicator {
  position:absolute;
  width: 60px;
  height: 60px;
  background-color: darkcyan;
  border-radius: 50%;
  border: 3px solid white;
  transition: 0.5s;
  top: -45px;
}
.indicator::before {
  content: '';
  position: absolute;
  top: 44%;
  left: -20px;
  width: 20px;
  height: 23px;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 white;
}
.indicator::after {
  content: '';
  position: absolute;
  top: 44%;
  right: -20px;
  width: 20px;
  height: 23px;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 white;
}
/* home */
.home-container {
  margin: 10px;
}
.home-container div {
  height: 100px;
}

/* footer */
.footer-container {
  position: absolute;
  bottom: 0px;
  align-items: center;
  background-color: burlywood;
  width: 94vw;
  height: 5vh;
}

/* menu */

.home-recommand-images {
  height: 400px;
  width: 500px;
  position:relative;
}
.home-ul:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.home-ul {
  display: flex;
  list-style: none;
  animation: example 10s infinite alternate;
  animation-timing-function: linear;
}
.home-ul li {
  margin-inline: 15px;
}
@keyframes example {
  from {  transform: translateX(0vw);}
  to { transform: translateX(-142vw);}
}

/*board*/
.board-img {
  width: 300px;
  height: 400px;
}

/*rboard*/
.rboard-popular-container {
  display: flex;
  justify-content: space-between;
}
